<div class="__container " style="width: 100%; display: flex; justify-content: space-between; padding: 10px;">
    <!-- FORMULARIO DE INGRESO-->
    <div class="container__form" style="width: 35%;">            
            <%- include('../partials/_products-form')%>
    </div>        
        <!-- LISTADO DE PRODUCTOS-->
    <div class="container__table"  style="width: 63%;">
            <%- include('../partials/__Products-table/_products-table-2')%>
    </div>
</div>