<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/_head') %>

</head>
<body>
    <%- include('../partials/_header-edit') %>  
    <div class="m-5 "style="display: flex; justify-content: center;">
        <%- include('../partials/_edit') %>  
    </div> 
</body>
</html>